# Java
backend/target/
*.class
*.jar
*.war
*.log
.idea/
*.iml

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Docker
mysql_data/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
